<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<div id="wrapper">
    <div id="dialog">
      <form class="form" [formGroup]="UploadForm">
        <mat-form-field appearance="fill">
            <mat-label>Filename</mat-label>
            <input matInput   formControlName="filename" >
            <mat-error *ngIf="UploadForm.get('filename')?.hasError('required')">
                Filename is Required!
            </mat-error>
            <mat-error *ngIf="UploadForm.get('filename')?.hasError('specialCharacter')">
              Filename can't contain special characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <input  matInput  formControlName="description">
          </mat-form-field>
          <mat-form-field>
              <mat-label>Add tag</mat-label>
              <input matInput [(ngModel)]="newTag" (keyup.enter)="addTag()" #tagInput formControlName="tags" >
            </mat-form-field>
          <mat-chip-list #chipList>
              <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
                {{ tag }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
        <mat-form-field>
            <mat-label>File</mat-label>
            <button class="butt-file" mat-icon-button matPrefix (click)="f_input.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
            <input type="text" readonly matInput formControlName="file"/>
            <input
              type="file"
              multiple
              hidden
              #f_input
              (change)="handleFileInput(f_input.files !)"
            />
            <mat-error *ngIf="UploadForm.get('file')?.hasError('required')">
              Required field!
          </mat-error>
          </mat-form-field>

    </form>

    <div class="row" style="margin-top: 10px; display: flex;justify-content: center;align-items: center;">
        <button type="confirm" style="font-size: large; background-color: grey;" (click)="close()">Close</button>
        <button type="confirm" style="font-size: large; margin-left: 20px;" (click)="uploadFile()">Upload</button> 
    </div>
      

    </div>

  </div>

