#wrapper {
    font-family: Lato;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    color: #333;
}
    
#dialog {
    margin: 10px auto;
    padding: 20px 30px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 500px;
    height: fit-content;
}

h3 {
    margin: 0 0 10px;
    padding: 0;
    line-height: 1.25;
}

span {
    font-size: 90%;
}

#form {
    width: 200px;
    margin: 25px auto 0;
}
               
button {
    width: fit-content;
    margin-left: 10px;
    background-color: #665582;
    border: none;
    text-transform: uppercase;
}


h4{
    font-weight: lighter;
    margin-left: 10px;
}
    

mat-form-field{
    width: 300px;
    height: 50px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

.mat-mdc-form-field{
    height: 90px;
}


.mdc-text-fieldP{
    font-size: 27px;
}



.mat-mdc-form-field-flex.ng-tns-c17-0 {
    height: 100px;
}

mat-error{
    color: red;
}